@use 'base/variables' as v;
@use 'base/mixins' as m;
.barra-mobile{   
    background-color: lighten(v.$gris-oscuro,10%); 
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m.tablet{
        display: none;       
    } 
    h1{
        color:v.$blanco;
        margin: 0;
    }
    &__menu{
        i{
            width: 1.5rem;
            color: v.$blanco; 
            font-size: 3rem;
            &:hover{
                color: v.$azul;    
                cursor:pointer;
            }
        }
    }
}
.barra{
    display: none;
    @include m.tablet{
        background-color: v.$gris-claro;
        padding: 1rem 2rem;
        box-shadow: 1px 12px 9px -13px rgba(0,0,0, .4);
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-right: 1rem;
    }

    p{        
        font-size: 1.4rem;        
        span{
            
            //float: right;
            font-weight: 700;
            color: lighten(v.$gris-oscuro,10%);
        }
    
    }


}
